<a href="https://colab.research.google.com/github/JoseEclavia/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
a = 7
b  = 6

print(10>9)
print(10<9)
print(a>b)

True
False
True

Bool () Function

In [3]:
print(bool("Jose"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Function can return a Boolean

In [4]:
def my_Function():
  return True
print(my_Function())

True

In [9]:
if my_Function():
  print("True")
else:
   print("False")

True

Application 1:

In [10]:
print (10>9)

a=6
b=7

print(a==b)
print(a!=b)

True
False
True

Python Operators

In [11]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10//3)  #10/3  = 3.3333
print(10**2)

15
5
3.3333333333333335
50
3
100

Bitwise Operators

In [12]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [13]:
h = True
l = False
h and l
h or l
not(h or l)

False

Application 2

In [ ]:
[]    #Python Assignment Operators

In [14]:
x = 100
x += 3 # same as x= x+3, x = 100+3=103
print(x)

103

Identity Operators

In [15]:
h is l
h is not l

True

**Control** **structure**

If Statement

In [ ]:
if a>b:
  print("a is greater than b")

Elif Statement

In [17]:
if a<b:
  print("a is less than b")
elif a>b:
    print("a is greater than b")

a is less than b

Else Statement

In [18]:
a = 10
b = 10

if a<b:
  print("a is less than b")
elif a>b:
  print(" a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short hand If..else statement

In [19]:
a= 10
a= 9
print("a is greater than b") if a>b else print('b is greater than a')

b is greater than a

And

In [21]:
if a>b and b==b:
  print(" Both conditions are true")

Or

In [22]:
if a<b or b==b:
  print("The condition is true")

The condition is true

Nested if

In [24]:
if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
            print("but not above 50")

x is above 10
and also above 20
and also above 30
and also above 40
and also above 50

**Loop** **Statement**

In [27]:
week=['Sunday',"Monday",'Tuesday',"wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
wednesday
Thursday
Friday
Saturday

The break Statement

In [31]:
#to display Sunday to Wednesday using for loop
for x in week:
  print(x)
  if x=="Wednesday":
   break

Sunday
Monday
Tuesday
wednesday
Thursday
Friday
Saturday

While Statement

In [32]:
i =1
while i<6:
  print(i)
  i+=1 #same as i = i+1

1
2
3
4
5

Application 3

In [35]:
i = 1
while i<6:
  if i==3:
    break
  i+=1
  print(i)

2
3